.root{
    -fx-background-image: url('../images/back.png');
    -fx-background-size: cover;
    -fx-background-position: center;
}

#loginPane {
    -fx-background-position: center;
}

#min{
    -fx-background-color: #00000000;
    -fx-font-size: 10;
    -fx-font-family: "Fira Code";
    -fx-pref-width: 30;
    -fx-border-radius: 0;
    -fx-border-width: 0;
}

#min:hover{
    -fx-background-color: #4cc5e8;
    -fx-text-fill: white; /* 字体颜色 */
}

#clo{
    -fx-background-color: #00000000;
    -fx-font-size: 10;
    -fx-font-family: "Fira Code";
    -fx-pref-width: 30;
    -fx-border-radius: 0;
    -fx-border-width: 0;
}

#clo:hover{
    -fx-background-color: RED;
    -fx-text-fill: white; /* 字体颜色 */
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #ccc;
    -fx-padding: 5 0 5 0;
}
.text-field:focused .label {
    -fx-text-fill: #4d90fe;
    -fx-underline: true;
    -fx-underline-color: #4d90fe;
}

.text-field:focused {
    -fx-border-color: #4d90fe;
}

#loginButton {
    -fx-arc-width: 200;
    -fx-background-color: #1E90FF;
    -fx-background-radius: 20;
}

#loginButton:hover {
    -fx-background-color: #00BFFF;
}

#registerButton {
    -fx-pref-width: 60;
    -fx-padding: 0;
    -fx-background-color: #1E90FF;
    -fx-background-radius: 20;
}

#registerButton:hover {
    -fx-background-color: #00BFFF;
}

#repassButton {
    -fx-pref-width: 60;
    -fx-padding: 0;
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: #AFEEEE;
    -fx-background-radius: 20;
}

#repassButton:hover {
    -fx-text-fill: #1E90FF;
}

